<div class="header">
    <div class="topBar">
        <MudIcon Icon="@Icons.Material.Filled.Menu" Size="Size.Large" />
        <span class="title">gororoba</span>
        <MudIcon Icon="@Icons.Material.Filled.AccountCircle" Size="Size.Large" />
    </div>
</div>
