@inherits LayoutComponentBase
@inject MenuStateService MenuState

<MudProviders />

<div class="page">
    <NavMenu />
    <main class="@(MenuState.IsCollapsed ? "active" : "")";>
        <Header/>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    protected override void OnInitialized()
    {
        MenuState.OnChange += StateHasChanged;
    }

    private Task OnMenuChanged()
    {
        InvokeAsync(StateHasChanged);
        return Task.CompletedTask;
    }
}