﻿.topBar {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    box-shadow: var(--header-shadow);
    background-color: #00875F;
    color: #fff;
}

.title {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
}