<div class="Card">
    <img class="BannerImg" src="https://img.spoonacular.com/recipes/716429-312x231.jpg" />
    
    <div class="Content">
        <h5>Home Made Dry-Aged Sirloin Steak with Cheesy Roast Fingerling Potatoes </h5>

        <nav>
            <MudButton Color="Color.Primary" Size="Size.Large" Variant="Variant.Filled">
                View recipe
            </MudButton>
        </nav>
    </div>
</div>
<div class="Card">
    <img class="BannerImg" src="https://img.spoonacular.com/recipes/716429-312x231.jpg" />
    
    <div class="Content">
        <h5>Home Made Dry-Aged Sirloin Steak Sirloin Steak</h5>

        <nav>
            <MudButton Color="Color.Primary" Size="Size.Large" Variant="Variant.Filled">
                View recipe
            </MudButton>
        </nav>
    </div>
</div>
<div class="Card">
    <img class="BannerImg" src="https://img.spoonacular.com/recipes/716429-312x231.jpg" />
    
    <div class="Content">
        <h5>Home Made </h5>

        <nav>
            <MudButton Color="Color.Primary" Size="Size.Large" Variant="Variant.Filled">
                View recipe
            </MudButton>
        </nav>
    </div>
</div>
