@page "/"
@rendermode InteractiveServer
@inject HttpClient Http
@inject RecipesService RecipesService

<div class="MainCard">
    <img class="CardImg" src="Assets/CardCover.png"/>
    <div class="CardText">
        <h1>Bem-vindo ao Gororoba's</h1>
        <span>Ache suas receitas preferidas!</span>
    </div>
</div>

<div class="SearchMenu">
    <MudTextField @bind-Value="searchQuery"
                  Label="Pesquise sua receita"
                  Variant="Variant.Outlined"
                  AdornmentIcon="@Icons.Material.Filled.Search" />

    <MudButton Color="Color.Primary" OnClick="SearchRecipes" Size="Size.Large" Variant="Variant.Filled" Style="height: 56px">
        Pesquisar 
        <MudIcon Icon="@Icons.Material.Filled.Search" Title="Pesquisar" />
    </MudButton>
</div>

 <div class="Grid">
    <MudContainer MaxWidth="MaxWidth.ExtraLarge" Class="mt-4">
        <MudGrid>
            @if (recipes != null)
            {
                @foreach (var recipe in recipes)
                {
                    <MudItem xs="12" sm="6" md="4" lg="3">
                        <MudCard>
                            <MudCardMedia Image="@recipe.Image" Height="200" />
                            <MudCardContent>
                                <MudText Typo="Typo.h6" Align="Align.Center">@recipe.Title</MudText>
                            </MudCardContent>
                        </MudCard>
                    </MudItem>
                }
            }
        </MudGrid>
    </MudContainer>
 </div>
