@page "/"
@inject RecipesService RecipesService

<div class="MainCard">
    <img class="CardImg" src="Assets/CardCover.png"/>
    <div class="CardText">
        <h1>Bem-vindo ao Gororoba's</h1>
        <span>Ache suas receitas preferidas!</span>
    </div>
</div>

@code {
}
